body{
margin: 0;
background:url('./images/bkg1.jpg');
}
h1{
color:black;
}
p{
font-size:17px;
}
a{
text-decoration:none;
color:white;
font-size:20px;
}
a:hover{
color:#F2F2F2;
font-size:21px;
}
.lefthd{
float:left;
margin-left:50px;
margin-top:15px;
width:100px;
height:30px;
}
header{
background-color: gray;
width:100%;
height:60px;
margin: 0;
}
.blockone{
margin-left:50px;
margin-right:50px;
}
.blocktwo{
background:url('./images/bkg2.jpg');
width:100%;
}
.mrblock{
margin-left:50px;
margin-right:50px;
}
.blockf{
height:50px;
}
.blocklast{
background:url('./images/bkg3.jpeg');
width:100%;
margin-top:-20p
}
